{% extends "base.html" %}

{% block content %}

<h2>Appointments</h2>



<form method="GET">

    <div class="mb-3">

        <input
            type="text"
            name="search"
            value="{{ search }}"
            placeholder="Search issue..."
            class="form-control">

    </div>

    <button class="btn btn-primary">
        Search
    </button>

</form>

<br>

<a href="/appointments" class="btn btn-secondary">
    All
</a>

<a href="/appointments?status=Pending" class="btn btn-warning">
    Pending
</a>

<a href="/appointments?status=In Progress" class="btn btn-info">
    In Progress
</a>

<a href="/appointments?status=Completed" class="btn btn-success">
    Completed
</a>

<br><br>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Vehicle ID</th>
            <th>Service Date</th>
            <th>Issue</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for appointment in appointments %}

        <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.vehicle_id }}</td>
            <td>{{ appointment.service_date }}</td>
            <td>{{ appointment.issue_description }}</td>
            <td>{{ appointment.status }}</td>
            <td>
                <a href="/update-status/{{ appointment.id }}"
                class="btn btn-warning btn-sm">
                Update Status
                </a>
            </td>
            <td>
                <a href="/appointment/{{ appointment.id }}"
                class="btn btn-info btn-sm">
                View
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}