{% extends "base.html" %}

{% block content %}

<h2>Appointment Details</h2>

<p><strong>ID:</strong> {{ appointment.id }}</p>

<p><strong>Vehicle ID:</strong> {{ appointment.vehicle_id }}</p>

<p><strong>Issue:</strong> {{ appointment.issue_description }}</p>

<p><strong>Category:</strong> {{ appointment.category }}</p>

<p>
    <strong>Mechanic:</strong>
    {{ appointment.mechanic.name }}
</p>

<p>
    <strong>Specialization:</strong>
    {{ appointment.mechanic.mechanic_profile.specialization }}
</p>

<p><strong>Status:</strong> {{ appointment.status }}</p>

<p><strong>AI Recommendation:</strong></p>

<div class="card p-3">
    {{ appointment.ai_recommendation }}
</div>

{% if appointment.mechanic_notes %}

<div class="card p-3 mt-3">

    <h5>Mechanic Notes</h5>

    <p>
        {{ appointment.mechanic_notes }}
    </p>

</div>

{% endif %}

{% endblock %}