<!DOCTYPE html>
<html>
<head>
    <title>Mekanik</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Mekanik</a>

        <div>
            <a class="btn btn-outline-light btn-sm" href="/login">
                Login
            </a>

            <a class="btn btn-light btn-sm" href="/register">
                Register
            </a>
        </div>
    </div>
</nav>

    <div class="container mt-4">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>