{% extends "base.html" %}

{% block content %}

<h2>Book Appointment</h2>

<form method="POST">

    <div class="mb-3">
        <label>Vehicle</label>

        <select name="vehicle_id" class="form-control">

            {% for vehicle in vehicles %}

            <option value="{{ vehicle.id }}">
                {{ vehicle.company }} - {{ vehicle.model }}
            </option>

            {% endfor %}

        </select>
    </div>

    <div class="mb-3">
        <label>Service Date</label>
        <input
            type="date"
            name="service_date"
            class="form-control">
    </div>

    <div class="mb-3">
        <label>Issue Description</label>
        <textarea
            name="issue_description"
            class="form-control"
            rows="4"></textarea>
    </div>

    <button class="btn btn-primary">
        Book Appointment
    </button>

</form>

{% endblock %}