{% extends "base.html" %}

{% block content %}

<h2>Mekanik Dashboard</h2>

<div class="row">

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Total Users</h4>
            <h2>{{ total_users }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Total Vehicles</h4>
            <h2>{{ total_vehicles }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Total Appointments</h4>
            <h2>{{ total_appointments }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Pending</h4>
            <h2>{{ pending_appointments }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Completed</h4>
            <h2>{{ completed_appointments }}</h2>
        </div>
    </div>

</div>

{% endblock %}