{% extends "base.html" %}

{% block content %}

<h2>Mekanik Dashboard</h2>

<div class="row">

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Total Users</h4>
            <h2>{{ total_users }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Total Vehicles</h4>
            <h2>{{ total_vehicles }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Total Appointments</h4>
            <h2>{{ total_appointments }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Pending</h4>
            <h2>{{ pending_appointments }}</h2>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h4>Completed</h4>
            <h2>{{ completed_appointments }}</h2>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="statusChart"></canvas>

<script>
const ctx = document.getElementById("statusChart");

new Chart(ctx, {
    type: "pie",
    data: {
        labels: ["Pending", "Completed"],
        datasets: [{
            data: [
                {{ pending_appointments|tojson }},
                {{ completed_appointments|tojson }}
            ]
        }]
    }
});
</script>

<canvas id="categoryChart"></canvas>

<script>

const categoryCtx =
    document.getElementById("categoryChart");

new Chart(categoryCtx, {
    type: "bar",
    data: {
        labels: [
            "Brake",
            "Battery",
            "Engine",
            "Tire",
            "General"
        ],
        datasets: [{
            label: "Issues",
            data: [
                {{ brake_count }},
                {{ battery_count }},
                {{ engine_count }},
                {{ tire_count }},
                {{ general_count }}
            ]
        }]
    }
});

</script>

{% endblock %}