{% extends "base.html" %}

{% block content %}

<h2>Update Job Status</h2>

<form method="POST">

    <select name="status" class="form-select">

        <option>Pending</option>
        <option>In Progress</option>
        <option>Completed</option>

    </select>

    <br>

    <div class="mb-3">

    <label>Mechanic Notes</label>

    <textarea
        name="mechanic_notes"
        class="form-control"
        rows="4">{{ job.mechanic_notes or "" }}</textarea>

    </div>

    <button class="btn btn-success">
        Update Status
    </button>

</form>

{% endblock %}