{% extends "base.html" %}

{% block content %}

<h2>Users</h2>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}

        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>

            <td>
                <a href="/delete-user/{{ user.id }}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>
        </tr>

        <td>
    <a href="/edit-user/{{ user.id }}"
       class="btn btn-warning btn-sm">
        Edit
    </a>

    <a href="/delete-user/{{ user.id }}"
       class="btn btn-danger btn-sm">
        Delete
    </a>
</td>

        {% endfor %}

    </tbody>

</table>

{% endblock %}

